body {
	margin: 0;
	font-family: arial;
}

/* layout */
.platform {
	display: table;
	width: 98%;
}

.name {
	display: table-cell;
	width: 12em;
}
.plans {
	display: table-cell;
}

/* style */
.platform {
	border-bottom: 3px solid red;
	margin: 0.2em;
	padding: 0.2em 0.5em;
}
.platform:nth-child(1) {
	border-top: 3px solid red;
}

.plan {
	border-top: 2px solid #faa;
	padding: 0.2em 2em;
}
.plan:nth-child(1){
	border-top: 0px;
}

.name {
	font-size: 1.2em;
	font-weight: bold;
}
