#g_title .heading {
    font-size: 16px;
    font-weight: bold;
}

#g_title .subheading {
    font-size: 12px;
    fill: #777;
}

#axes .ytitle {
    dominant-baseline: middle;
    font-size: 12px;
	font-weight: bold;
}

#axes text {
    fill: #777;
}

#axes .ticks path,
#axes .ticks line {
    display: none;
}

#axes line.grid {
    stroke: #ddd;
    stroke-width: 1px;
}
#axes line.year {
    stroke-width: 2px;
}

#axes .tick text {
	fill: #555;
	font-size: 10px;
}

#axes .year text {
    font-weight: bold;
	font-size: 12px;
}

#data .bar, #g_data  text {
	cursor: help;
}

#data .serie text {
	fill: #fff;
	font-weight: normal;
	font-size: 0.8em;
}

#data .serie text.info {
	font-weight: bold;
}

#roadmap_tooltip * {
	margin: 2px;
}

#roadmap_tooltip {
    position: absolute;
    display: box;
    width: auto;
    text-align: left;
	font-family: arial;
	color: #000;
	margin: 0;
	background-color: #ffa;
	border: thin solid #aaa;
	border-radius: 6px;
	box-shadow: 5px 5px 5px #000;
    pointer-events: none;
}

#roadmap_tooltip .title {
	display: table;
	width: 100%;
	margin: 0;
	padding: 2px;
	color: #fff;
	background-color: #665;
	border-radius: 6px 6px 0 0;
	font-weight: bold;
}
#roadmap_tooltip .title * {
	display: table-cell;
	padding: 2px;
}
#roadmap_tooltip .title .date {
	text-align: right;
	width: 15em;
}

#roadmap_tooltip .key {
	font-weight: bold;
}
#roadmap_tooltip .key::after {
	content: ':';
}

#roadmap_tooltip .load {
	border-top: thin solid #777;
	border-bottom: thin solid #777;
}
#roadmap_tooltip .load * {
	margin: 0;
	padding: 0.1em;
}
#roadmap_tooltip .load div:nth-child(even) {
	background-color: #ddd;
}
#roadmap_tooltip .load div:nth-child(odd) {
	background-color: #fff;
}
