#g_data .bar, #g_data  text {
	cursor: help;
}

#g_data .dataset text {
	fill: #fff;
	font-weight: normal;
	font-size: 0.8em;
}

#g_data text.info {
	font-weight: bold;
}

#g_axis .ytitle {
    dominant-baseline: middle;
    font-size: 12px;
	font-weight: bold;
}

#g_axis text {
    fill: #777;
}

#g_axis .vertical_grid,
#g_axis .horizontal_grid {
    stroke: #ddd;
    stroke-width: 1px;
}

#g_axis .ticks path,
#g_axis .ticks line {
    display: none;
}

#g_axis .ticks text {
	fill: #555;
	font-size: 10px;
}

#g_axis .ticks .year {
    font-weight: bold;
	font-size: 12px;
}

#g_title .heading {
    font-size: 16px;
    font-weight: bold;
}

#g_title .subheading {
    font-size: 12px;
    fill: #777;
}

.tooltip * {
	margin: 2px;
}

.tooltip {
    position: absolute;
    display: box;
    width: auto;
    text-align: left;
	font-family: arial;
	color: #000;
	margin: 0;
	background-color: #ffa;
	border: thin solid #aaa;
	border-radius: 6px;
	box-shadow: 5px 5px 5px #000;
    pointer-events: none;
}

.tooltip .title {
	color: #fff;
	margin: 0;
	padding: 4px 2px;
	background-color: #665;
	border-radius: 6px 6px 0 0;
}

.tooltip .label, .tooltip .date, .tooltip .key {
	font-weight: bold;
}
.tooltip .payload {
	border-top: thin solid #777;
	border-bottom: thin solid #777;
}
.tooltip .payload * {
	margin: 0;
	padding: 0.1em;
}
.tooltip .payload div:nth-child(even) {
	background-color: #ddd;
}
.tooltip .payload div:nth-child(odd) {
	background-color: #fff;
}
